<?xml version="1.0"?>
<config>
    <modules>
        <Gclone_Deal>
            <version>0.1.1</version>
        </Gclone_Deal>
    </modules>
    <frontend>
        <routers>
            <deal>
                <use>standard</use>
                <args>
                    <module>Gclone_Deal</module>
                    <frontName>deal</frontName>
                </args>
            </deal>
        </routers>
        <layout>
            <updates>
                <deal>
                    <file>deal.xml</file>
                </deal>
            </updates>
        </layout>
        <events>
			<sales_order_save_after>
				<observers>
					<deal>
						<type>singleton</type>
						<class>Gclone_Deal_Model_Observer</class>
						<method>processOnOrderSave</method>
					</deal>
				</observers>
			</sales_order_save_after>
                        <!-- <customer_login>
                <observers>
                    <deal>
                        <type>singleton</type>
                        <class>Gclone_Deal_Model_Observer</class>
                        <method>cart_logout</method>
                    </deal>
                </observers>
         </customer_login>-->

		</events>
    </frontend>
    <admin>
        <routers>
            <deal>
                <use>admin</use>
                <args>
                    <module>Gclone_Deal</module>
                    <frontName>deal</frontName>
                </args>
            </deal>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Gclone_Deal>
                            <title>Deal Module</title>
                            <sort_order>10</sort_order>
                        </Gclone_Deal>
                        <system>
                            
                            <children>
                                <config>
                                    <children>
                                        <deal >
                                            <title>Deal Module</title>
                                   
                                        </deal>
                                    </children>
                                </config>
                            </children>
                           
                        </system>

                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <deal>
                    <file>deal.xml</file>
                </deal>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <page>
                <rewrite>
                    <html_header>Gclone_Deal_Block_Page_Header</html_header>
                </rewrite>
            </page>
        </blocks>
        <models>
        
            <deal>
                <class>Gclone_Deal_Model</class>
                <resourceModel>deal_mysql4</resourceModel>
            </deal>
            <deal_mysql4>
                <class>Gclone_Deal_Model_Mysql4</class>
                <entities>
                    <deal>
                        <table>deal</table>
                    </deal>
                </entities>
            </deal_mysql4>
            
             
        <sales>
            <rewrite>
                <service_quote>Gclone_Deal_Model_Quote</service_quote>
            </rewrite>
        </sales>
    
        </models>
        <resources>
            <deal_setup>
                <setup>
                    <module>Gclone_Deal</module>
                    <class>Gclone_Deal_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </deal_setup>
            <deal_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </deal_write>
            <deal_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </deal_read>
        </resources>
        <blocks>
            <deal>
                <class>Gclone_Deal_Block</class>
            </deal>
        </blocks>
        <helpers>
            <deal>
                <class>Gclone_Deal_Helper</class>
            </deal>
        </helpers>

        <events>
            
        </events>
        <routers>
            <catalog>
                <rewrite>
                    <product>
                        <to>deal/index</to>
                        <override_actions>true</override_actions>
                        <actions>
                            <view>
                                <to>deal/index/view</to>
                            </view>
                        </actions>
                    </product>
                </rewrite>
            </catalog>
        </routers>
        <routers>
            <cms>
                <rewrite>
                    <index>
                        <to>deal/index</to>
                        <override_actions>true</override_actions>
                    </index>
                </rewrite>
            </cms>
        </routers>
        <rewrite>
            <gclone_deal_checkout_cart_add>
                <from><![CDATA[#^/checkout/cart/#]]>
                </from>
                <to>/deal/checkout_cart/</to>
            </gclone_deal_checkout_cart_add>
        </rewrite>
        <rewrite>
            <gclone_deal_checkout_onepage>
                <from><![CDATA[#^/checkout/onepage/#]]>
                </from>
                <to>/deal/checkout_onepage/</to>
            </gclone_deal_checkout_onepage>
        </rewrite>
        <rewrite>
            <gclone_deal_contacts_index>
                <from><![CDATA[#^/contacts/index/#]]>
                </from>
                <to>/deal/contacts_index/</to>
            </gclone_deal_contacts_index>
        </rewrite>
        <rewrite>
            <gclone_deal_customer_account_createpost>
                <from><![CDATA[#^/customer/account/createpost#]]>
                </from>
                <to>/deal/customer_account/createpost</to>
            </gclone_deal_customer_account_createpost>
        </rewrite>
        <rewrite>
            <gclone_deal_catalog_product>
                <from><![CDATA[#^/admin/catalog_product/#]]>
                </from>
                <to>/deal/catalog_product/</to>
            </gclone_deal_catalog_product>
        </rewrite>
<!--        <rewrite>
            <gclone_deal_dashboard_dashboard>
                <from><![CDATA[#^/admin/dashboard/#]]>
                </from>
                <to>/deal/dashboard_dashboard/</to>
            </gclone_deal_dashboard_dashboard>
        </rewrite>-->
        <rewrite>
            <gclone_deal_newsletter_subscriber>
                <from><![CDATA[#^/newsletter/subscriber/#]]>
                </from>
                <to>/deal/newsletter_subscriber/</to>
            </gclone_deal_newsletter_subscriber>
        </rewrite>
        <rewrite>
            <gclone_deal_newsletter_manage_save>
                <from><![CDATA[#^/newsletter/manage/save#]]>
                </from>
                <to>/deal/newsletter_manage/save</to>
            </gclone_deal_newsletter_manage_save>
        </rewrite>
         <rewrite>
            <gclone_deal_sales_order_reorder>
                <from><![CDATA[#^/sales/order/reorder#]]>
                </from>
                <to>/deal/sales_order/reorder</to>
            </gclone_deal_sales_order_reorder>
        </rewrite>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit>Gclone_Deal_Block_Adminhtml_Catalog_Product_Edit</catalog_product_edit>
                </rewrite>
            </adminhtml>
        </blocks>

    </global>
    
    
</config>