        <table   style="border:5px solid #dbdbdb;"  border="5"  cellpadding="0" cellspacing="0" rules="groups" width="590"     >
            <tr>
                <td width="20"></td>
                 <td valign="top" width="470">
                            <p><a href="{{store url=''}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/></a></p></td>
                <td width="120"><img src="{{skin url="images/sale.jpg" _area='frontend'}}"  width="107" height="67"/></td>
            </tr>
            <tr>
                <td colspan="3" height="10"></td>
            </tr>
        </table>
        <table   bordercolor=""   cellpadding="0" cellspacing="0" rules="cols" width="580"  style="border-left:5px solid #DBDBDB;border-right:5px solid #DBDBDB;"    >
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="20" colspan="3"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td >
                    <table cellpadding="0" cellspacing="0" width="580">
                        <tr>

                            <td width="20"></td>
                            <td width="586">{{var deallist.productname}}</td>
                           
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td colspan="3" height="20"></td>

                        </tr>
                    </table>
                </td>

            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td valign="top" width="170">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td background="{{skin url='images/worthimg.jpg' _area='frontend'}}"  width="170" height="130" style="background-repeat:no-repeat;">    <table cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td height="30"></td>
                                                </tr>
                                                <tr>
                                                    <td align="center" width="170"><font face="Georgia" size="6 " color="#333" ><strong> $ {{var deallist.Product_worth}}</strong></font></td>
                                                </tr>

                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="10"></td>

                                    </tr>
                                    <tr>
                                        <td>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td width="10"></td>
                                                <td><font face="Arial" size="2" color="#666">{{var deallist.product_description}}</font></td>
                                            </tr>

                                        </table> </td>
                                   </tr>
                                   

                                   
                                   
                                    <tr>

                                    <td>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td width="10"></td>
                                                 <td><font color="#0066CC"><a href="{{var deallist.Companywebsite}}">{{var deallist.Companywebsite}}</a></font></td>
                                            </tr>

                                        </table> </td>

                                    </tr>
                                </table>
                            </td>
                            <td width="390"  valign="top"><img src="{{var deallist.productimage}}" width="400" height="306"/></td>
                        </tr>

                    </table>
                </td>
            </tr>
            <tr>
            <td ><img src="{{skin url='images/borderimg.jpg' _area='frontend'}}"  width="580" height="4"/></td></tr>
            <tr>

                <td></td>

            </tr>

            <tr>
                <td height="20"></td>

            </tr>
            <tr>
                <td valign="top">
                    <table cellpadding="0" cellspacing="0">

                        <tr>

                            <td width="30"></td>
                            <td valign="top">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="90"><font face="Arial" size="2" color="#666">Name</font></td>
                                        <td width="10">:</td>
                                        <td><font face="Georgia" size="2" color="#333"><strong>{{var deallist.Customer_name}}</strong></font></td>
                                    </tr>
                                    <tr>
                                        <td width="90"><font face="Arial" size="2" color="#666">Coupon ID</font></td>
                                        <td width="10">:</td>
                                        <td><font face="Georgia" size="2" color="#333"><strong>{{var deallist.Couponcode}}</strong></font></td>
                                    </tr>
                                    <tr>
                                        <td width="90"><font face="Arial" size="2" color="#666">Valid Upto</font></td>
                                        <td width="10">:</td>
                                        <td><font face="Georgia" size="2" color="#333"><strong>{{var deallist.Couponvalid}}</strong></font></td>
                                    </tr>
                                </table>
                            </td>
                            <td width="30"></td>


                            <td>
                                <table cellpadding="0" cellspacing="0">
                                    <tr>




                                        <td><font color="#333" size="6" face="Arial">YOU SAVE&nbsp; </font></td>
                                        <td><font color="#999" size="6" face="Arial"><strong>{{var deallist.discount}} </strong></font></td>
                                        <td><font color="#333" size="6" face="Arial"><strong>&nbsp;%</strong></font></td>
                                    </tr>
                                </table>
                            </td>

                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td background="{{skin url='images/emailbottombg.jpg' _area='frontend'}}"  width="590" height="48" >
                <table cellpadding="0" cellspacing="0">
                <tr>
                <td width="80"></td>
                <td>
                                       
                    <font face="Arial" color="#666" size="1">Email us:</font> <a href="mailto:{{config path='trans_email/ident_support/email'}}"><font face="Arial" color="#0099CC" size="1">{{config path='trans_email/ident_support/email'}}</font></a><font face="Arial" color="#666" size="1">  Call us: {{config path='general/store_information/phone'}}</font>
                    </td>
                </tr></table>
                
                </td>
            </tr>
        </table>  