<!--@subject {{config path="general/store_information/name"}} Merchant Login Details @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:13px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<div style="font:13px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:13px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Dear {{var merchant.name}}</strong>, <br/> Welcome to {{var store.getFrontendName()}}.</p>

                            <p>Your e-mail {{var merchant.email}} has been confirmed in our store.</p>

                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; ">
                                Use the following values to log in:<br/>
                                E-mail : {{var merchant.email}}<br/>
                                UserName : {{var merchant.name}}<br/>
                                Password : {{var merchant.password}}<p>

                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>