<?xml version="1.0"?>
<config>
    <modules>
        <Gclone_Couponvalidator>
            <version>0.1.0</version>
        </Gclone_Couponvalidator>
    </modules>
    <frontend>
        <routers>
            <couponvalidator>
                <use>standard</use>
                <args>
                    <module>Gclone_Couponvalidator</module>
                    <frontName>couponvalidator</frontName>
                </args>
            </couponvalidator>
        </routers>
        <layout>
            <updates>
                <couponvalidator>
                    <file>couponvalidator.xml</file>
                </couponvalidator>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<couponvalidator>
				<use>admin</use>
				<args>
					<module>Gclone_Couponvalidator</module>
					<frontName>couponvalidator</frontName>
				</args>
			</couponvalidator>
        </routers>
    </admin>
    <adminhtml>
<!--		<menu>
			<couponvalidator module="couponvalidator">
				<title>Couponvalidator</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="couponvalidator">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>couponvalidator/adminhtml_couponvalidator</action>
					</items>
				</children>
			</couponvalidator>
		</menu>-->
		
		<layout>
			<updates>
				<couponvalidator>
					<file>couponvalidator.xml</file>
				</couponvalidator>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <couponvalidator>
                <class>Gclone_Couponvalidator_Model</class>
                <resourceModel>couponvalidator_mysql4</resourceModel>
            </couponvalidator>
            <couponvalidator_mysql4>
                <class>Gclone_Couponvalidator_Model_Mysql4</class>
                <entities>
                    <couponvalidator>
                        <table>couponvalidator</table>
                    </couponvalidator>
                </entities>
            </couponvalidator_mysql4>
        </models>
        <resources>
            <couponvalidator_setup>
                <setup>
                    <module>Gclone_Couponvalidator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </couponvalidator_setup>
            <couponvalidator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </couponvalidator_write>
            <couponvalidator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </couponvalidator_read>
        </resources>
        <blocks>
            <couponvalidator>
                <class>Gclone_Couponvalidator_Block</class>
            </couponvalidator>
        </blocks>
        <helpers>
            <couponvalidator>
                <class>Gclone_Couponvalidator_Helper</class>
            </couponvalidator>
        </helpers>
    </global>
</config>