<?xml version="1.0"?>
<config>
    <modules>
        <Gclone_Advertsystem>
            <version>0.1.0</version>
        </Gclone_Advertsystem>
    </modules>
    <frontend>
        <routers>
            <advertsystem>
                <use>standard</use>
                <args>
                    <module>Gclone_Advertsystem</module>
                    <frontName>advertsystem</frontName>
                </args>
            </advertsystem>
        </routers>
        <layout>
            <updates>
                <advertsystem>
                    <file>advertsystem.xml</file>
                </advertsystem>
            </updates>
        </layout>
        <events>
            <customer_save_after>
                <observers>
                    <advertsystem>
                        <type>singleton</type>
                        <class>Gclone_Advertsystem_Model_Observer</class>
                        <method>processInvite</method>
                    </advertsystem>
                </observers>
            </customer_save_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <advertsystem>
                <use>admin</use>
                <args>
                    <module>Gclone_Advertsystem</module>
                    <frontName>advertsystem</frontName>
                </args>
            </advertsystem>
        </routers>
    </admin>
    <adminhtml>
        <menu>
           <advertsystem translate="title" module="advertsystem">
					<title>Advert System</title>
					<sort_order>71</sort_order>
					<children>
						<rules translate="title">
							<title>Manage Rule</title>
							<sort_order>1</sort_order>
							<action>advertsystem/adminhtml_adrule</action>
						</rules>
						<referral translate="title">
							<title>Customers</title>
							<sort_order>2</sort_order>
							<action>advertsystem/adminhtml_adcustomer</action>
						</referral>
						<config translate="title">
							<title>Configuration</title>
							<sort_order>3</sort_order>
							<action>adminhtml/system_config/edit/section/advertsystem
							</action>
						</config>
					</children>
				</advertsystem>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Gclone_Advertsystem>
                            <title>Advertsystem Module</title>
                            <sort_order>10</sort_order>
                        </Gclone_Advertsystem>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <advertsystem>
                    <file>advertsystem.xml</file>
                </advertsystem>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <salesrule>
                <rewrite>
                    <quote_discount>Gclone_Advertsystem_Model_Discount</quote_discount>
                </rewrite>
            </salesrule>
            <advertsystem>
                <class>Gclone_Advertsystem_Model</class>
                <resourceModel>advertsystem_mysql4</resourceModel>
            </advertsystem>
            <advertsystem_mysql4>
                <class>Gclone_Advertsystem_Model_Mysql4</class>
                <entities>
                    <adrule>
                        <table>advert_system_rule</table>
                    </adrule>
                    <adcustomer>
                        <table>advert_system_invite</table>
                    </adcustomer>
                    <addiscount>
                        <table>advert_system_discount</table>
                    </addiscount>

                </entities>
            </advertsystem_mysql4>
            
        </models>
        <resources>
            <advertsystem_setup>
                <setup>
                    <module>Gclone_Advertsystem</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </advertsystem_setup>
            <advertsystem_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </advertsystem_write>
            <advertsystem_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </advertsystem_read>
        </resources>
        <blocks>
            <advertsystem>
                <class>Gclone_Advertsystem_Block</class>
            </advertsystem>
        </blocks>
        <helpers>
            <advertsystem>
                <class>Gclone_Advertsystem_Helper</class>
            </advertsystem>
        </helpers>
        <events>
            <customer_login>
                <observers>
                    <advertsystem>
                        <type>singleton</type>
                        <class>Gclone_Advertsystem_Model_Observer</class>
                        <method>redirectInvitation</method>
                        <method>updatePurchaseDiscount</method>
                    </advertsystem>
                </observers>
            </customer_login>
            <sales_quote_collect_totals_after>
                <observers>
                    <advertsystem>
                        <type>singleton</type>
                        <class>Gclone_Advertsystem_Model_Observer</class>
                        <method>fetch</method>
                    </advertsystem>
                </observers>
            </sales_quote_collect_totals_after>
            <checkout_onepage_controller_success_action>
                <observers>
                    <advertsystem>
                        <type>singleton</type>
                        <class>Gclone_Advertsystem_Model_Observer</class>
                        <method>processUpdateDiscount</method>
                    </advertsystem>
                </observers>
            </checkout_onepage_controller_success_action>
           <sales_order_item_cancel>
               <observers>
                    <advertsystem>
                        <type>singleton</type>
                        <class>Gclone_Advertsystem_Model_Observer</class>
                        <method>processCancelDiscount</method>
                    </advertsystem>
                </observers>
           </sales_order_item_cancel>
        </events>
         <template>
            <email>
                <advertsystem_invite_template translate="label" module="advertsystem">
                    <label>Referral System invitation</label>
                    <file>advert_system_invite.html</file>
                    <type>html</type>
                </advertsystem_invite_template>
            </email>
        </template>
    </global>
    <default>
        <advertsystem>
            <invite>
                <enabled>1</enabled>
                <template>advertsystem_invite_template</template>
                <allow_b_link>1</allow_b_link>
            </invite>
        </advertsystem>
    </default>
</config>