<?xml version="1.0"?>
<config>
    <modules>
        <Gclone_Dealreport>
            <version>0.1.0</version>
        </Gclone_Dealreport>
    </modules>
    <frontend>
        <routers>
            <dealreport>
                <use>standard</use>
                <args>
                    <module>Gclone_Dealreport</module>
                    <frontName>dealreport</frontName>
                </args>
            </dealreport>
        </routers>
        <layout>
            <updates>
                <dealreport>
                    <file>dealreport.xml</file>
                </dealreport>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <dealreport>
                <use>admin</use>
                <args>
                    <module>Gclone_Dealreport</module>
                    <frontName>dealreport</frontName>
                </args>
            </dealreport>
        </routers>
    </admin>
    <adminhtml>
        
       
        <layout>
            <updates>
                <dealreport>
                    <file>dealreport.xml</file>
                </dealreport>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <dealreport>
                <class>Gclone_Dealreport_Model</class>
                <resourceModel>dealreport_mysql4</resourceModel>
            </dealreport>
            <dealreport_mysql4>
                <class>Gclone_Dealreport_Model_Mysql4</class>
                <entities>
                    <dealreport>
                        <table>dealreport</table>
                    </dealreport>
                </entities>
            </dealreport_mysql4>
        </models>
        <resources>
            <dealreport_setup>
                <setup>
                    <module>Gclone_Dealreport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dealreport_setup>
            <dealreport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dealreport_write>
            <dealreport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dealreport_read>
        </resources>
        <blocks>
            <dealreport>
                <class>Gclone_Dealreport_Block</class>
            </dealreport>
        </blocks>
        <helpers>
            <dealreport>
                <class>Gclone_Dealreport_Helper</class>
            </dealreport>
        </helpers>
    </global>
</config>