<?xml version="1.0"?>
<config>
    <modules>
        <Contus_Ordercustomer>
            <version>0.1.0</version>
        </Contus_Ordercustomer>
    </modules>
    <frontend>
        <routers>
            <ordercustomer>
                <use>standard</use>
                <args>
                    <module>Contus_Ordercustomer</module>
                    <frontName>ordercustomer</frontName>
                </args>
            </ordercustomer>
        </routers>
        <layout>
            <updates>
                <ordercustomer>
                    <file>ordercustomer.xml</file>
                </ordercustomer>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<ordercustomer>
				<use>admin</use>
				<args>
					<module>Contus_Ordercustomer</module>
					<frontName>ordercustomer</frontName>
				</args>
			</ordercustomer>
        </routers>
    </admin>
    <adminhtml>
		
		
		<layout>
			<updates>
				<ordercustomer>
					<file>ordercustomer.xml</file>
				</ordercustomer>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <ordercustomer>
                <class>Contus_Ordercustomer_Model</class>
                <resourceModel>ordercustomer_mysql4</resourceModel>
            </ordercustomer>
            <ordercustomer_mysql4>
                <class>Contus_Ordercustomer_Model_Mysql4</class>
                <entities>
                    <ordercustomer>
                        <table>ordercustomer</table>
                    </ordercustomer>
                </entities>
            </ordercustomer_mysql4>
        </models>
        <resources>
            <ordercustomer_setup>
                <setup>
                    <module>Contus_Ordercustomer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ordercustomer_setup>
            <ordercustomer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ordercustomer_write>
            <ordercustomer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ordercustomer_read>
        </resources>
        <blocks>
            <ordercustomer>
                <class>Contus_Ordercustomer_Block</class>
            </ordercustomer>
        </blocks>
        <helpers>
            <ordercustomer>
                <class>Contus_Ordercustomer_Helper</class>
            </ordercustomer>
        </helpers>
    </global>
</config>