<?xml version="1.0"?>
<config>
    <modules>
        <Gclone_Fbusiness>
            <version>0.1.0</version>
        </Gclone_Fbusiness>
    </modules>
    <frontend>
        <routers>
            <fbusiness>
                <use>standard</use>
                <args>
                    <module>Gclone_Fbusiness</module>
                    <frontName>fbusiness</frontName>
                </args>
            </fbusiness>
        </routers>
        <layout>
            <updates>
                <fbusiness>
                    <file>fbusiness.xml</file>
                </fbusiness>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <fbusiness>
                <use>admin</use>
                <args>
                    <module>Gclone_Fbusiness</module>
                    <frontName>fbusiness</frontName>
                </args>
            </fbusiness>
        </routers>
    </admin>
    <adminhtml>
<!--		<menu>
			<fbusiness module="fbusiness">
				<title>Fbusiness</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="fbusiness">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>fbusiness/adminhtml_fbusiness</action>
					</items>
				</children>
			</fbusiness>
		</menu>-->
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Gclone_Fbusiness>
                            <title>Fbusiness Module</title>
                            <sort_order>10</sort_order>
                        </Gclone_Fbusiness>                                              
                        
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <fbusiness>
                    <file>fbusiness.xml</file>
                </fbusiness>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <fbusiness>
                <class>Gclone_Fbusiness_Model</class>
                <resourceModel>fbusiness_mysql4</resourceModel>
            </fbusiness>
            <fbusiness_mysql4>
                <class>Gclone_Fbusiness_Model_Mysql4</class>
                <entities>
                    <fbusiness>
                        <table>fbusiness</table>
                    </fbusiness>
                </entities>
            </fbusiness_mysql4>
        </models>
        <resources>
            <fbusiness_setup>
                <setup>
                    <module>Gclone_Fbusiness</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fbusiness_setup>
            <fbusiness_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fbusiness_write>
            <fbusiness_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fbusiness_read>
        </resources>
        <template>
            <email>
                <fbusiness_email_email_template translate="label" module="fbusiness">
                    <label>FBusiness Form</label>
                    <file>fbusiness_form.html</file>
                    <type>text</type>
                </fbusiness_email_email_template>
            </email>
        </template>
        <blocks>
            <fbusiness>
                <class>Gclone_Fbusiness_Block</class>
            </fbusiness>
        </blocks>
        <helpers>
            <fbusiness>
                <class>Gclone_Fbusiness_Helper</class>
            </fbusiness>
        </helpers>
    </global>
    <default>
        <fbusiness>
            <fbusiness>
                <enabled>1</enabled>
            </fbusiness>
            <email>
                <recipient_email><![CDATA[hello@example.com]]></recipient_email>
                <sender_email_identity>custom2</sender_email_identity>
                <email_template>fbusiness_email_email_template</email_template>
            </email>
        </fbusiness>
    </default>
</config>