<?xml version="1.0"?>
<config>
    <modules>
        <Contus_Background>
            <version>0.1.0</version>
        </Contus_Background>
    </modules>
    <frontend>
        <routers>
            <background>
                <use>standard</use>
                <args>
                    <module>Contus_Background</module>
                    <frontName>background</frontName>
                </args>
            </background>
        </routers>
        <layout>
            <updates>
                <background>
                    <file>background.xml</file>
                </background>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<background>
				<use>admin</use>
				<args>
					<module>Contus_Background</module>
					<frontName>background</frontName>
				</args>
			</background>
        </routers>
    </admin>
    <adminhtml>

		<layout>
			<updates>
				<background>
					<file>background.xml</file>
				</background>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <background>
                <class>Contus_Background_Model</class>
                <resourceModel>background_mysql4</resourceModel>
            </background>
            <background_mysql4>
                <class>Contus_Background_Model_Mysql4</class>
                <entities>
                    <background>
                        <table>background</table>
                    </background>
                </entities>
            </background_mysql4>
        </models>
        <resources>
            <background_setup>
                <setup>
                    <module>Contus_Background</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </background_setup>
            <background_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </background_write>
            <background_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </background_read>
        </resources>
        <blocks>
            <background>
                <class>Contus_Background_Block</class>
            </background>
        </blocks>
        <helpers>
            <background>
                <class>Contus_Background_Helper</class>
            </background>
        </helpers>
    </global>
</config>