<?xml version="1.0"?>
<config>
    <modules>
        <Gclone_Rssfeed>
            <version>0.1.0</version>
        </Gclone_Rssfeed>
    </modules>
    <frontend>
        <routers>
            <rssfeed>
                <use>standard</use>
                <args>
                    <module>Gclone_Rssfeed</module>
                    <frontName>rssfeed</frontName>
                </args>
            </rssfeed>
        </routers>
        <layout>
            <updates>
                <rssfeed>
                    <file>rssfeed.xml</file>
                </rssfeed>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<rssfeed>
				<use>admin</use>
				<args>
					<module>Gclone_Rssfeed</module>
					<frontName>rssfeed</frontName>
				</args>
			</rssfeed>
        </routers>
    </admin>
    <adminhtml>
<!--		<menu>
			<rssfeed module="rssfeed">
				<title>Rssfeed</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="rssfeed">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>rssfeed/adminhtml_rssfeed</action>
					</items>
				</children>
			</rssfeed>
		</menu>-->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Gclone_Rssfeed>
							<title>Rssfeed Module</title>
							<sort_order>10</sort_order>
						</Gclone_Rssfeed>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<rssfeed>
					<file>rssfeed.xml</file>
				</rssfeed>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <rssfeed>
                <class>Gclone_Rssfeed_Model</class>
                <resourceModel>rssfeed_mysql4</resourceModel>
            </rssfeed>
            <rssfeed_mysql4>
                <class>Gclone_Rssfeed_Model_Mysql4</class>
                <entities>
                    <rssfeed>
                        <table>rssfeed</table>
                    </rssfeed>
                </entities>
            </rssfeed_mysql4>
        </models>
        <resources>
            <rssfeed_setup>
                <setup>
                    <module>Gclone_Rssfeed</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rssfeed_setup>
            <rssfeed_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rssfeed_write>
            <rssfeed_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rssfeed_read>
        </resources>
        <blocks>
            <rssfeed>
                <class>Gclone_Rssfeed_Block</class>
            </rssfeed>
        </blocks>
        <helpers>
            <rssfeed>
                <class>Gclone_Rssfeed_Helper</class>
            </rssfeed>
        </helpers>
    </global>
</config>