<?xml version="1.0"?>
<config>
    <modules>
        <Apptha_Adddeals>
            <version>0.1.0</version>
        </Apptha_Adddeals>
    </modules>
    <frontend>
        <routers>
            <adddeals>
                <use>standard</use>
                <args>
                    <module>Apptha_Adddeals</module>
                    <frontName>adddeals</frontName>
                </args>
            </adddeals>
        </routers>
        <layout>
            <updates>
                <adddeals>
                    <file>adddeals.xml</file>
                </adddeals>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<adddeals>
				<use>admin</use>
				<args>
					<module>Apptha_Adddeals</module>
					<frontName>adddeals</frontName>
				</args>
			</adddeals>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Apptha_Adddeals>
							<title>Adddeals Module</title>
							<sort_order>10</sort_order>
						</Apptha_Adddeals>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<adddeals>
					<file>adddeals.xml</file>
				</adddeals>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <adddeals>
                <class>Apptha_Adddeals_Model</class>
                <resourceModel>adddeals_mysql4</resourceModel>
            </adddeals>
            <adddeals_mysql4>
                <class>Apptha_Adddeals_Model_Mysql4</class>
                <entities>
                    <adddeals>
                        <table>adddeals</table>
                    </adddeals>
                </entities>
            </adddeals_mysql4>
        </models>
        <resources>
            <adddeals_setup>
                <setup>
                    <module>Apptha_Adddeals</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </adddeals_setup>
            <adddeals_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </adddeals_write>
            <adddeals_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </adddeals_read>
        </resources>
        <blocks>
            <adddeals>
                <class>Apptha_Adddeals_Block</class>
            </adddeals>
        </blocks>
        <helpers>
            <adddeals>
                <class>Apptha_Adddeals_Helper</class>
            </adddeals>
        </helpers>
    </global>
</config>