<?xml version="1.0"?>
<config>
    <modules>
        <Gclone_TwitterBox>
            <version>0.1.0</version>
        </Gclone_TwitterBox>
    </modules>
    <global>
        <models>
            <twitterbox>
                <class>Gclone_TwitterBox_Model</class>
            </twitterbox>
        </models>
        <blocks>
            <twitterbox>
                <class>Gclone_TwitterBox_Block</class>
            </twitterbox>
        </blocks>
        <helpers>
            <twitterbox>
                <class>Gclone_TwitterBox_Helper</class>
            </twitterbox>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <twitterbox>
                    <file>twitterbox.xml</file>
                </twitterbox>
            </updates>
        </layout>
        <translate>
            <modules>
                <Gclone_TwitterBox>
                    <files>
                        <default>Gclone_TwitterBox.csv</default>
                    </files>
                </Gclone_TwitterBox>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <twitterbox translate="title" module="twitterbox">
                                            <title>Gclone Twitter Box</title>
                                            <sort_order>100</sort_order>
                                        </twitterbox>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>