<?xml version="1.0"?>
<config>
    <modules>
        <Contus_Share>
            <version>0.1.0</version>
        </Contus_Share>
    </modules>
    <frontend>
        <routers>
            <share>
                <use>standard</use>
                <args>
                    <module>Contus_Share</module>
                    <frontName>share</frontName>
                </args>
            </share>
        </routers>
        <layout>
            <updates>
                <share>
                    <file>share.xml</file>
                </share>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<share>
				<use>admin</use>
				<args>
					<module>Contus_Share</module>
					<frontName>share</frontName>
				</args>
			</share>
        </routers>
    </admin>
    <adminhtml>

		<layout>
			<updates>
				<share>
					<file>share.xml</file>
				</share>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <share>
                <class>Contus_Share_Model</class>
                <resourceModel>share_mysql4</resourceModel>
            </share>
            <share_mysql4>
                <class>Contus_Share_Model_Mysql4</class>
                <entities>
                    <share>
                        <table>share</table>
                    </share>
                </entities>
            </share_mysql4>
        </models>
        <resources>
            <share_setup>
                <setup>
                    <module>Contus_Share</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </share_setup>
            <share_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </share_write>
            <share_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </share_read>
        </resources>
        <blocks>
            <share>
                <class>Contus_Share_Block</class>
            </share>
        </blocks>
        <helpers>
            <share>
                <class>Contus_Share_Helper</class>
            </share>
        </helpers>
    </global>
</config>