<?xml version="1.0"?>
<config>
    <modules>
        <Gclone_Emailnewsletter>
            <version>0.1.0</version>
        </Gclone_Emailnewsletter>
    </modules>
    <frontend>
        <routers>
            <emailnewsletter>
                <use>standard</use>
                <args>
                    <module>Gclone_Emailnewsletter</module>
                    <frontName>emailnewsletter</frontName>
                </args>
            </emailnewsletter>
        </routers>
        <layout>
            <updates>
                <emailnewsletter>
                    <file>emailnewsletter.xml</file>
                </emailnewsletter>
            </updates>
        </layout>
    </frontend>
    
    <global>
        <models>
            <emailnewsletter>
                <class>Gclone_Emailnewsletter_Model</class>
                <resourceModel>emailnewsletter_mysql4</resourceModel>
            </emailnewsletter>
            <emailnewsletter_mysql4>
                <class>Gclone_Emailnewsletter_Model_Mysql4</class>
                <entities>
                    <emailnewsletter>
                        <table>emailnewsletter</table>
                    </emailnewsletter>
                </entities>
            </emailnewsletter_mysql4>
        </models>
        <template>
            <email>
                <emailnewsletter_email_email_template translate="label" module="emailnewsletter">
                    <label>Email Newsletter Template</label>
                    <file>newsletter.html</file>
                    <type>html</type>
                </emailnewsletter_email_email_template>
            </email>
        </template>
        <resources>
            <emailnewsletter_setup>
                <setup>
                    <module>Gclone_Emailnewsletter</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </emailnewsletter_setup>
            <emailnewsletter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </emailnewsletter_write>
            <emailnewsletter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </emailnewsletter_read>
        </resources>
        <blocks>
            <emailnewsletter>
                <class>Gclone_Emailnewsletter_Block</class>
            </emailnewsletter>
        </blocks>
        <helpers>
            <emailnewsletter>
                <class>Gclone_Emailnewsletter_Helper</class>
            </emailnewsletter>
        </helpers>
        
    </global>
</config>